.padding-10

  %h5
    Необходимо настроить Slag-сервер перед началом работы

  %p
    Для хранения настроек используется конфигурационный файл,
    располагающийся в корне домашней директории пользователя,
    от имени которого было запущего приложение.

  %p
    Выберите директорию для хранения конфигурационного файла:

  %p
    %input{ :type => "radio", :name => "cfg_dir", :value => "usr"}
    = window.env.usr

  %p
    %input{ :type => "radio", :name => "cfg_dir", :value => "app"}
    = window.env.app

  %select.database-selector
